Source: philsf-likes-sysadmin
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.2
# Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://code.launchpad.net/~philsf/+git/philsf-likes-sysadmin
Vcs-Git: https://git.launchpad.net/~philsf/+git/philsf-likes-sysadmin

Package: philsf-likes-sysadmin
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Recommends:
 acpi,
 btop | htop,
 fwupd | fwupdate,
 smbios-utils | libsmbios-bin,
 i8kutils,
 lm-sensors,
 thermald,
 locate,
 most,
 rsync,
 sqlite3 | sqlite3-doc,
 avahi-utils,
 smbclient,
 samba,
 net-tools,
 iotop,
 ethtool,
 tcpdump,
 nmap,
 tofrodos | dos2unix,
 ntfs-3g,
 libfsntfs-utils,
 exfatprogs,
 testdisk,
 hdparm,
 sdparm,
 smartmontools,
 nvme-cli,
Suggests:
 gnome-system-tools,
 forensics-all,
 hardinfo,
 harden-doc,
Description: philsf's system administration toolkit
 Metapackage for system maintenance.
 .
 It enables a core environment for workstation and local network
 administration, providing essential hardware diagnostic and
 management tools for local system and network administrators.
